# Do not double-build branches and PRs from this repo
# Do not build auto-tagged versions
if: repo != head_repo AND tag !~ /^[\w\.]+-\d+-\w+/

language: java
dist: focal
addons:
  apt:
    update: true
    packages:
      # LaTeX decent font processor
      - cm-super
      # Image processing
      - inkscape
      # For git latexdiff
      - latexdiff
      # For Minted
      - python-pygments
      # LaTeX
      - texlive
      - texlive-latex-extra
      - texlive-publishers
      - texlive-science
      # Debug
      - tree
env:
  global:
    - TERM=dumb
    - GRAVIS_REPO="https://github.com/DanySK/Gravis-CI.git"
    - GRAVIS="$HOME/gravis"

install: travis_retry git clone --depth 1 $GRAVIS_REPO $GRAVIS

script:
  - chmod +x gradlew
  - ./gradlew buildLatex

after_success:
  - git config --local user.name "Danilo Pianini's Travis CI automation bot"
  - git config --local user.email "danilo.pianini@unibo.it"

before_deploy:
  - $GRAVIS/autotag

after_script:
  - git checkout master
  - git add gradlew
  - git commit -m "[ci skip] gradlew must remain executable! Overleaf please stop tainting all my stuff"
  - git push "git@github.com:${TRAVIS_REPO_SLUG}.git" master

deploy:
  - provider: releases
    edge: true
    file: "*.pdf"
    on:
      all_branches: true
      condition: true

notifications:
  email:
    on_success: never
